In [1]:
#program to check if a given string is palindrome or not
#program that converts a given number of a minutes into hours
#program to count the number of vowels given in a strings
#program to check if a given number is prime or not
#create a loop that print the first ten whole numbers
#generate fibanocis series upto the given number
#program to print multiplication table of a given number
#given a list of word write a python program to cunt the number of words with more than 5 characters
#program to find the sum of first ten natural numbers
#program to calculate area of all types of triangle

In [2]:
def is_palindrome(s):
    s = s.replace(" ", "").lower()
    return s == s[::-1]
string = input("Enter a string: ")
if is_palindrome(string):
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string: madam
The string is a palindrome.

In [5]:
#program that converts a given number of a minutes into hours using function
def convert_minutes_to_hours(minutes):
    hours = minutes // 60
    remaining_minutes = minutes % 60
    return hours, remaining_minutes
minutes =546
hours, remaining_minutes = convert_minutes_to_hours(minutes)
print(f"{minutes} minutes is equal to {hours} hours and {remaining_minutes} minutes.")

546 minutes is equal to 9 hours and 6 minutes.

In [7]:
#create a loop that print the first ten whole numbers
def ten_whole_numbers():
    for i in range(10):
        print(i)
ten_whole_numbers()

0
1
2
3
4
5
6
7
8
9

In [14]:
#program to find the sum of first ten natural numbers
def sum_natural_numbers():
    total = 0
    for i in range(1, 11):
        total += i
    return total
result = sum_natural_numbers()
print(f"The sum of the first ten natural numbers is: {result}")

The sum of the first ten natural numbers is: 55

In [15]:
#program to print multiplication table of a given number
def print_multiplication_table(number):
    for i in range(1, 11):
        print(f"{number} x {i} = {number * i}")
num = 5
print_multiplication_table(num)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50