In [2]:
#write a python program to print hello world

lmp = "Hello World"
print(lmp)

Hello World

In [3]:
#write a python program to calculate sum of numbers

numb1 = (1,2,3,4,5,6)
numb2 = (4,2,4,5,7,6,4,2)
s = numb1 + numb2
print(s)

(1, 2, 3, 4, 5, 6, 4, 2, 4, 5, 7, 6, 4, 2)

In [5]:
#create a variables for string a preson name,age and average score

Name = "Abdul"
Age = '21'
Avgscore = '74.7'
print(Name,Age,Avgscore)

Abdul 21 74.7

In [7]:
#write a python program to concatenate two strings

za='This is '
mk='a string'
l=za+mk
print(l)

This is a string

In [10]:
#create a list of vegtable and access then index

veg=['tomato','potato','carrot','lady finger','beans','green chilly']
veg[1]
veg[1:7]

['potato', 'carrot', 'lady finger', 'beans', 'green chilly']

In [15]:
#convert celsius to fahrenheit
celsius =35
fahrenheit = celsius_to_fahrenheit(celsius)
print(f"{celsius}째C is equal to {fahrenheit}째F")

35째C is equal to 95.0째F

In [18]:
#Program to calculate area of rectangle using its length and width
length=45
width=26
area=length*width
print(area)

1170

In [19]:
#create a list with numbers and indentify its maximum number and minimum number
hd=[32,45,1,24,3,43,4,22,2,47]
print(max(hd))
print(min(hd))

47
1

In [22]:
#program to check a number is even or not
def is_even(number):
    return number % 2 == 0
number =20
if is_even(number):
    print(f"{number} is even.")
else:
    print(f"{number} is odd.")

20 is even.

In [23]:
#program to check if a given string contains only numeric or not
pl=('amaj2154')
pl.isnumeric()

False